@model ReWeight.Models.ControlPoint

@{
    ViewBag.Title = "Восстановление веса";
}

<div>
    <dl class="dl-horizontal">
    
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Ip Vpn</dt>
        <dd>
            @Html.DisplayFor(model => model.IpVpn)
        </dd>
        <dt>Ip Vpn</dt>
        <dd>
            <a href="@Model.Links.Nomad" target="_blank">Nomad</a>
        </dd>
    </dl>


    <div>
        <form asp-controller="Home" asp-action="InterReWeight" method="post">
            <div class="form-group">
                <label asp-for="Train.TrainId" class="control-label">TrainId</label>
                <input type="number" asp-for="Train.TrainId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Train.Direction" class="control-label"></label>
                <input type="number" asp-for="Train.Direction" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Отправить сообщение" />
            </div>
        </form>
    </div>
</div>

